<div>
  <div><label for='form__container'><h1>{{title}}</h1></label></div>
  <form id='form__container' action='/new' method='POST'>
    <div><input
        name='messageUser'
        type='text'
        style='width:200px; font-size:16px; padding: 7px'
        placeholder='Enter author name'
      /></div>
    <div><input
        type='text'
        style='width:450px; font-size:20px; padding: 8px'
        name='messageText'
        placeholder='Enter message here'
      /></div>
    <button type='submit'>Submit</button>
  </form>
  <div></div>
</div>